body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#questions .accordion-body {
    padding: 3rem !important;
}


@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
    
}

@media(max-width:669px) {
    #map{
        display: none;
    }
    .contact-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}